##################################################
# Build Results
##################################################
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

##################################################
# Visual Studio
##################################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

##################################################
# NuGet
##################################################
packages/
*.nupkg
*.snupkg
.nuget/

##################################################
# ASP.NET
##################################################
*.log
*.cache
*.pdb
*.mdb

##################################################
# IIS Express
##################################################
.vs/config/
.vs/ProjectEvaluation/

##################################################
# Publish output
##################################################
publish/
app.publish/

##################################################
# Node (もし使っている場合)
##################################################
node_modules/

##################################################
# VS Code / Rider
##################################################
.vscode/
.idea/

##################################################
# OS files
##################################################
Thumbs.db
Desktop.ini
.DS_Store

##################################################
# Resharper
##################################################
_ReSharper*/
*.DotSettings.user
